<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
  <h1>Require4Testing</h1>
</header>

<h2>Login</h2>

<div class="form-container">

<form th:action="@{/login}" method="post">

  <label>Rolle:</label>
  <select name="rolle">
    <option value="ADMIN">Admin</option>
    <option value="REQUIREMENTS_ENGINEER">Requirements Engineer</option>
    <option value="TESTMANAGER">Testmanager</option>
    <option value="TESTFALLERSTELLER">Testfallersteller</option>
    <option value="TESTER">Tester</option>
  </select>

  <br><br>

  <label>Passwort:</label>
  <input type="password" name="password" />

  <br><br>

  <button type="submit">Login</button>
</form>

  <p th:if="${error}" th:text="${error}" style="color:red"></p>

</div>

</body>
</html>