<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Require4Testing</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>Require4Testing</h1>
    <div class="header-right">
        <span th:text="${session.rolle}"></span>
        <a href="/logout" class="logout-btn">Abmelden</a>
    </div>
</header>

<h2>Liste der Requirements</h2>

<div class="table-container">
    <table class="data-table">
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Testfälle</th>
        </tr>
        <tr th:each="req : ${requirements}">
            <td th:text="${req.id}"></td>
            <td th:text="${req.title}"></td>
            <td th:text="${req.description}"></td>
            <td> <a th:href="@{/requirements/{id}(id=${req.id})}" th:text="Ansehen"></a></td>
        </tr>
    </table>

</div>


<div class="pagination">
    <a th:if="${currentPage > 0}" th:href="@{/requirements(page=${currentPage - 1})}">← Zurück</a>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/requirements(page=${currentPage + 1})}">Weiter →;</a>
</div>

<div class="pagination" th:if="${
    session.rolle == T(de.require4testing.require4testing.model.Rolle).ADMIN
    or session.rolle == T(de.require4testing.require4testing.model.Rolle).REQUIREMENTS_ENGINEER
}">
    <a href="/requirements/new">Neue Anforderung</a>
</div>

</body>
</html>