<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Require4Testing</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>Require4Testing</h1>
    <div class="header-right">
        <span th:text="${session.rolle}"></span>
        <a href="/logout" class="logout-btn">Abmelden</a>
    </div>
</header>

<h2 th:text="${requirement.title}"></h2>
<h3>Testfälle:</h3>

<div class="table-container">
    <table class="data-table testCasesTable">
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Fertigstellung</th>
            <th>Testlauf</th>
        </tr>
        <tr th:each="tc : ${requirement.testCases}">
            <td th:text="${tc.id}"></td>
            <td th:text="${tc.title}"></td>
            <td th:text="${tc.completed ? 'Erledigt' : 'Offen'}"></td>
            <td>
                <a th:href="@{/requirements/{reqId}/testcases/{tcId}/testruns(
        reqId=${requirement.id}, tcId=${tc.id})}">Anzeigen </a>
            </td>
        </tr>
    </table>
</div>

<div class="pagination">
<a th:href="@{/requirements}">&larr; Zurück zur Liste</a>
</div>
<div class="form-container">
    <form th:action="@{/requirements/{reqId}/testcases(reqId=${requirement.id})}"
          method="post">

        <input type="text"
               name="title"
               placeholder="Neuer Testfall"
               required />
        <button type="submit">Testfall hinzufügen</button>
    </form>
</div>

</body>
</html>