<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Require4Testing</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>Require4Testing</h1>
</header>

<h3>Angemeldet als:</h3>
<p id="admin">Admin</p>

<h2>Testfälle der Anforderung:</h2>
<h3 th:text="${requirement.title}"></h3>

<div class="table-container">
    <table class="data-table testCasesTable">
        <tr>
            <th>ID</th>
            <th>Titel</th>
        </tr>
        <tr th:each="tc : ${requirement.testCases}">
            <td th:text="${tc.id}"></td>
            <td th:text="${tc.title}"></td>
        </tr>
    </table>
</div>

<div class="pagination">
<a th:href="@{/requirements}">&larr; Zurück zur Liste</a>
</div>

</body>
</html>